<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hints.serverone.dao.Texes000Dao">
    <select id="SelectBmum" parameterType="java.lang.String" resultType="java.util.HashMap">
 		select * from test0816 where  USID= #{USID}
 	</select>
</mapper>

